/* ######################################
Layout
###################################### */

.scaffold-layout {
  display: flex;
}

.scaffold-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacer-md);
  margin: var(--spacer-md) 0;
  width: 100%;
}

.scaffold-layout-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-inline: var(--spacer-md);
}

.scaffold-layout-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-bottom: var(--spacer-md);
}

.scaffold-layout-sidebar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  transition: all 250ms ease;
  background-color: #1e1f22;
}

.scaffold-layout-sidebar:not(.collapsed) {
  z-index: 5;
  flex-grow: 1;
  width: 100%;
  min-width: 250px;
}

.scaffold-layout-sidebar.collapsed {
  z-index: 1;
  flex-grow: 0;
  width: 0;
  min-width: 0;
}

.scaffold-layout-sidebar.right {
  left: auto;
  right: 0;
}

/* ######################################
Side & Main
###################################### */

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 100%;
  border-radius: 4px;
  gap: var(--spacer-lg);
  margin: var(--spacer-md);
  padding: var(--spacer-lg);
  background-color: #313338;
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--spacer-md);
  max-height: 100%;
  overflow-y: auto;
}

/* ######################################
Menu
###################################### */

.menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--spacer-lg);
}

/* ######################################
ChatBox
###################################### */

.messages-area {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.message:nth-child(even) {
  background: #2f3138;
}

.message:nth-child(odd) {
  background: #1e1f22;
}

.message {
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  padding: var(--spacer-md);
  /* TODO REMOVE */
}

.message .profile-picture {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: var(--spacer-md);
  background-color: var(--primary-color);
}

.message .message-content {
  display: flex;
  flex-direction: column;
  flex: 100%;
}

.message .message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message .username {
  font-weight: bold;
}

.message .date-time {
  font-size: 0.8em;
  color: gray;
}

.message p {
  margin: 0;
  margin-top: 10px;
  /* Equivalent to overflow-wrap: anywhere */
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;

  /* Simulating break-keep behavior */
  hyphens: auto;
}

.send-box {
  /* For the outline input */
  padding: 3px;
}

/* ######################################
Button
###################################### */

.button {
  border: none;
  outline: none;
  background-color: var(--primary-color);
  padding: var(--spacer-sm) var(--spacer-md);
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  transition: all 250ms ease-in-out;
}

.button:not(.icon):hover {
  background-color: var(--secondary-color);
}

.button:not(.icon):disabled {
  background-color: var(--disabled-color);
}

.button.icon {
  width: 1.6rem;
  height: 1.6rem;
  background-color: transparent;
  color: white;
  padding: 2px;
}

.button.icon svg {
  width: 100%;
  height: 100%;
}

.button.icon:hover {
  color: #5c5e66;
}

/* ######################################
Anchor (link)
###################################### */

.anchor.icon {
  display: flex;
  justify-content: space-between;
  padding: var(--spacer-xs) var(--spacer-md);
  border-radius: 4px;
  font-size: 1rem;
  color: white;
  align-items: center;
}

.anchor.icon:hover {
  background-color: rgba(255, 255, 255, 0.113);
}

.anchor.icon.active {
  background-color: rgba(255, 255, 255, 0.113);
}

/* ######################################
Input
###################################### */

.input {
  position: relative;
  display: flex;
  width: 100%;
  height: 2rem;
  align-items: center;
  border-radius: 4px;
  color: white;
  background-color: #313338;
  transition: 300ms ease-in-out;
  box-shadow: var(--box-shadow);
}

.input input {
  color: white;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding-inline: var(--spacer-md);
  border-radius: 4px;
  background-color: transparent;
}

.input input:focus {
  outline: 3px solid #5865f2;
}

.input .button {
  flex: 1;
  position: absolute;
  right: 0;
  height: 1.2rem;
  width: 1.2rem;
  margin-right: var(--spacer-md);
  color: #b4b4b4;
}

/* ######################################
Profile
###################################### */

.text-game {
  font-family: "Super Mario Bros Wii";
  -webkit-text-stroke: 0.08rem #1a1a1c;
  font-size: 2rem;
  text-align: center;
  --offset-3d: 0.14vmin;
  --color-stroke-3d: #1a1a1c;
  text-shadow: 0px 0px 0 var(--color-stroke-3d),
    calc(var(--offset-3d) * 1) calc(var(--offset-3d) * 1) 0 var(--color-stroke-3d),
    calc(var(--offset-3d) * 2) calc(var(--offset-3d) * 2) 0 var(--color-stroke-3d),
    calc(var(--offset-3d) * 3) calc(var(--offset-3d) * 3) 0 var(--color-stroke-3d),
    calc(var(--offset-3d) * 4) calc(var(--offset-3d) * 4) 0 var(--color-stroke-3d),
    calc(var(--offset-3d) * 5) calc(var(--offset-3d) * 5) 0 var(--color-stroke-3d),
    calc(var(--offset-3d) * 6) calc(var(--offset-3d) * 6) 0 var(--color-stroke-3d),
    calc(var(--offset-3d) * 7) calc(var(--offset-3d) * 7) 0 var(--color-stroke-3d),
    calc(var(--offset-3d) * 8) calc(var(--offset-3d) * 8) 0 var(--color-stroke-3d),
    calc(var(--offset-3d) * 9) calc(var(--offset-3d) * 9) 10px rgba(0, 0, 0, 0),
    calc(var(--offset-3d) * 9) calc(var(--offset-3d) * 9) 1px rgba(0, 0, 0, 0.5),
    calc(var(--offset-3d) * 0) calc(var(--offset-3d) * 0) 10px rgba(0, 0, 0, 0.2);
}

/* ######################################
Desktop & Tablet
###################################### */
@media screen and (min-width: 600px) {
  :root {
    --spacer-md: 8px;
  }

  .scaffold-layout-sidebar {
    top: 0;
    bottom: 0;
    position: sticky;
  }

  .scaffold-layout-sidebar.right:not(.collapsed) {
    padding-left: 0;
    min-width: 350px;
    width: min(100%, 350px);
  }

  .scaffold-layout-sidebar.left:not(.collapsed) {
    padding-right: 0;
    width: 250px;
  }
}

/* ######################################
Highscore
###################################### */

.highscore {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.highscore .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.highscore .message-header {
    display: flex;
    flex-direction: column;
}

.highscore .username {
    font-size: 18px;
    font-weight: bold;
    color: #e9e6e6;
    text-decoration: none;
    cursor: pointer; /* Change cursor to pointer on hover to indicate it's clickable */
    transition: color 0.3s ease;
}

.highscore .username:hover {
    color: #007BFF; /* Change link color on hover */
}

.highscore .date-time {
    font-size: 14px;
    color: #666;
}

.highscore .score {
    font-size: 20px;
    font-weight: bold;
    margin-left: auto; /* Moves the highscore to the right */
    display: flex;
    align-items: center;
}

.highscore .trophy-icon {
    width: 24px;
    height: 24px;
    fill: gold;
    margin-left: 5px;
}