.navbar {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: black;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
}

.mobBurgerContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  cursor: pointer;
  transition: 0.5s;
  gap: 6px;
}

.mobbar1,
.mobbar2,
.mobbar3 {
  width: 30px;
  border-radius: 10px;
  height: 3px;
  background-color: rgb(169, 169, 169);
  transition: 0.4s;
  margin-right: 0px;
}

.mobchange .mobbar1 {
  transform: translate(0px, 9px) rotate(-45deg);
}

.mobchange .mobbar2 {
  opacity: 0;
}

.mobchange .mobbar3 {
  transform: translate(0px, -9px) rotate(45deg);
}

.nav-chat-button {
  width: fit-content;
  height: 100%;
}

/* Add styles for the left side navbar */
.sidebarLeft {
  position: fixed;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  top: 50px;
  left: -300px; /* Start the sidebar off-screen */
  width: 300px;
  height: calc(100% - 50px);
  color: white;
  transition: 0.3s;
}

.logout {
  width: 100%;
  border-top: 1px solid white;
}

.logout a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  border-radius: 10px;
  padding: 16px;
}

.logout a:hover {
  background-color: #272727;
}

.links-container {
  display: flex;
  flex-direction: column;
}

.links-container a {
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.links-container a:hover {
  background-color: #272727;
}

.sidebarLeft.active {
  left: 0; /* Show the sidebar by setting left to 0 */
}

.sidebarRight {
  position: fixed;
  top: 50px;
  right: -300px; /* Start the sidebar off-screen */
  width: 300px;
  height: calc(100% - 50px);
  background-color: black;
  transition: 0.3s;
}

.sidebarRight.active {
  right: 0; /* Show the sidebar by setting left to 0 */
}
